# Log files
watchdog-status.log
logs/
*.log

# Compiled executables (Node.js -> exe)
node/
TrumMafia/run_with/
*.exe

# Node modules
node_modules/

# IDE/editor-specific files (tuỳ chọn)
.vscode/
*.swp
.DS_Store
Thumbs.db

# System/OS-specific files (tuỳ chọn)
ehthumbs.db
desktop.ini
